<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 
<head>
    <title>Phalcon Hosting | Default page</title>
</head>
 
<body>
<h1>Account ready</h1>
 
<p>Your account has been provisioned and is ready for use!
<br />
You can link your site with a git repository or ftp your files to get started.
<br/> <br />
Thank you for using <a href="http://www.phalconhosting.com" target="_blank">Phalcon Hosting</a>!</p>
 
</body>
 
</html>
